InterfaceATM/Connected Services/AuthenticationServiceReference/ServiceAuth.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AuthenticateUserByPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUserByPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticateUserByPasswordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUserByPin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customerID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUserByPinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticateUserByPinResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateUserByPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateUserByPassword" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserByPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateUserByPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserByPinSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateUserByPin" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserByPinSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateUserByPinResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthServiceSoap">
    <wsdl:operation name="AuthenticateUserByPassword">
      <wsdl:input message="tns:AuthenticateUserByPasswordSoapIn" />
      <wsdl:output message="tns:AuthenticateUserByPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUserByPin">
      <wsdl:input message="tns:AuthenticateUserByPinSoapIn" />
      <wsdl:output message="tns:AuthenticateUserByPinSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthServiceSoap" type="tns:AuthServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUserByPassword">
      <soap:operation soapAction="http://tempuri.org/AuthenticateUserByPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUserByPin">
      <soap:operation soapAction="http://tempuri.org/AuthenticateUserByPin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthServiceSoap12" type="tns:AuthServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUserByPassword">
      <soap12:operation soapAction="http://tempuri.org/AuthenticateUserByPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUserByPin">
      <soap12:operation soapAction="http://tempuri.org/AuthenticateUserByPin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthService">
    <wsdl:port name="AuthServiceSoap" binding="tns:AuthServiceSoap">
      <soap:address location="https://localhost:44331/ServiceAuth.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthServiceSoap12" binding="tns:AuthServiceSoap12">
      <soap12:address location="https://localhost:44331/ServiceAuth.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>