InterfaceDesktop/Connected Services/TransactionServiceReference/ServiceFinancialTransaction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WithdrawMoney">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WithdrawMoneyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WithdrawMoneyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DepositMoney">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DepositMoneyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DepositMoneyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowClientTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowClientTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowClientTransactionsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PerformExternalTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="branchCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PerformExternalTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PerformExternalTransactionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransferMoney">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountIDFrom" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="accountIDTo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransferMoneyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TransferMoneyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WithdrawMoneySoapIn">
    <wsdl:part name="parameters" element="tns:WithdrawMoney" />
  </wsdl:message>
  <wsdl:message name="WithdrawMoneySoapOut">
    <wsdl:part name="parameters" element="tns:WithdrawMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="DepositMoneySoapIn">
    <wsdl:part name="parameters" element="tns:DepositMoney" />
  </wsdl:message>
  <wsdl:message name="DepositMoneySoapOut">
    <wsdl:part name="parameters" element="tns:DepositMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="ShowClientTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:ShowClientTransactions" />
  </wsdl:message>
  <wsdl:message name="ShowClientTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:ShowClientTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="PerformExternalTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:PerformExternalTransaction" />
  </wsdl:message>
  <wsdl:message name="PerformExternalTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:PerformExternalTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="TransferMoneySoapIn">
    <wsdl:part name="parameters" element="tns:TransferMoney" />
  </wsdl:message>
  <wsdl:message name="TransferMoneySoapOut">
    <wsdl:part name="parameters" element="tns:TransferMoneyResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceFinancialTransactionSoap">
    <wsdl:operation name="WithdrawMoney">
      <wsdl:input message="tns:WithdrawMoneySoapIn" />
      <wsdl:output message="tns:WithdrawMoneySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DepositMoney">
      <wsdl:input message="tns:DepositMoneySoapIn" />
      <wsdl:output message="tns:DepositMoneySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowClientTransactions">
      <wsdl:input message="tns:ShowClientTransactionsSoapIn" />
      <wsdl:output message="tns:ShowClientTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PerformExternalTransaction">
      <wsdl:input message="tns:PerformExternalTransactionSoapIn" />
      <wsdl:output message="tns:PerformExternalTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TransferMoney">
      <wsdl:input message="tns:TransferMoneySoapIn" />
      <wsdl:output message="tns:TransferMoneySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceFinancialTransactionSoap" type="tns:ServiceFinancialTransactionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WithdrawMoney">
      <soap:operation soapAction="http://tempuri.org/WithdrawMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DepositMoney">
      <soap:operation soapAction="http://tempuri.org/DepositMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowClientTransactions">
      <soap:operation soapAction="http://tempuri.org/ShowClientTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformExternalTransaction">
      <soap:operation soapAction="http://tempuri.org/PerformExternalTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferMoney">
      <soap:operation soapAction="http://tempuri.org/TransferMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceFinancialTransactionSoap12" type="tns:ServiceFinancialTransactionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WithdrawMoney">
      <soap12:operation soapAction="http://tempuri.org/WithdrawMoney" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DepositMoney">
      <soap12:operation soapAction="http://tempuri.org/DepositMoney" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowClientTransactions">
      <soap12:operation soapAction="http://tempuri.org/ShowClientTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformExternalTransaction">
      <soap12:operation soapAction="http://tempuri.org/PerformExternalTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferMoney">
      <soap12:operation soapAction="http://tempuri.org/TransferMoney" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceFinancialTransaction">
    <wsdl:port name="ServiceFinancialTransactionSoap" binding="tns:ServiceFinancialTransactionSoap">
      <soap:address location="https://localhost:44396/ServiceFinancialTransaction.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceFinancialTransactionSoap12" binding="tns:ServiceFinancialTransactionSoap12">
      <soap12:address location="https://localhost:44396/ServiceFinancialTransaction.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>